.DS_Store
FSL/
FSLOutput.feat/
FSLOutputHCP.feat/
HPC
ROI2NIfTI/files
ROI2NIfTI/GordonParcels/*
ROI2NIfTI/Gordon333_Key.txt
ROI2NIfTI/HCP_S1200_997_tfMRI_ALLTASKS_level2_cohensd_hp200_s4_MSMSulc.dscalar.nii
ROI2NIfTI/ROI_299_3mm.nii.gz
ROI2NIfTI/ROI_ind_269.mat
ROI2NIfTI/S1200.MyelinMap_BC_MSMAll.32k_fs_LR.dscalar.nii
ROI2NIfTI/standard_brain_3mm.nii.gz
ROI2NIfTI/WM_LR_allbicm_1_minus_2.nii.gz
ROI2NIfTI/WM_LR_model_1_2.nii.gz
ROI2NIfTI/WM_LR_model_1_6.nii.gz
ROI2NIfTI/WM_LR_model_2_2.nii.gz
ROI2NIfTI/WorkingMem_model_1_2.nii.gz
ROI2NIfTI/WorkingMem_model_1_5.nii.gz
ROI2NIfTI/WorkingMem_model_2_2.nii.gz
ROI2NIfTI/HCP_S1200_997_tfMRI_ALLTASKS_level2_cohensd_hp200_s4_MSMSulc.gii 
ROI2NIfTI/HCP_S1200_997_tfMRI_ALLTASKS_level2_cohensd_hp200_s4_MSMSulc.gii.data
Results
VDGLM_HPC
images
models
old
onsetfiles
wb_view_try
work_log
code/bayes
code/behav
code/misc
*/crap.m
*/*/crap.m
*/crap.txt
*/*/crap.txt
code/models
code/old
code/tstats
*.m~
test_log.txt
code/plotting/*.scene
code/format_data_for_OSF.m
