.DS_Store
FSL*
HPC*
ROI*
Results
VDGLM_HPC
images
models
old
onsetfiles
wb_view_try
work_log
code/bayes
code/behav
code/misc
*/crap.m
*/*/crap.m
*/crap.txt
*/*/crap.txt
code/models
code/old
code/tstats
*.m~
test_log.txt
code/plotting/*.scene
code/format_data_for_OSF.m
